
  $wh: white;

  .swiper {
    width: 100%;
    height: 100%;
    padding: 50px;
  }
  
  .swiper-slide {
    font-size: 18px;
    background: $wh;
    border: 2px solid $wh;
    border-bottom: 8px solid $wh;

    border-radius: 10px;
    /* Center slide text vertically */
  }
  .swiper-slide:hover {
    border: 2px solid #1488CC;
    border-bottom: 8px solid #1488CC;
    cursor: pointer;
    transform: scale(1.05); /* Increase the scale to zoom in */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
  }
  
  .swiper-slide:hover .di{
    background: #1488CC;
    color: $wh;
  }
  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  