@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-custom {
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.075);
}

.img1{
background-image: url(/public/images/Rectangle\ 809.png);
background-size: 100% 100%;
}

.img2{
  background-image: url(/public/images/Rectangle\ 808.png);
  background-size: 100% 100%;
  }